@font-face {
  font-family: 'Nunito-Lg';
  src: url("./fonts/Nunito-Light.ttf");
}

@font-face {
  font-family: 'Nunito-SemiBold';
  src: url("./fonts/Nunito-SemiBold.ttf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito-Lg";
  font-size: 16px;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

/* ============ 
            HEADER ============*/

header {
  display: flex;
  justify-content: space-between;
}

header nav a {
  margin: 20px;
}

/* ============ 
            HOME ============*/
.home-section {
  display: flex;
  justify-content: space-between;
}

.home-section div:nth-of-type(2) {
  background-color: #F9BDBD;
  display: flex;
  justify-content: right;
  width: 30%;
}

/* ============ 
            PRODUCTS ============*/

.product-grid {
  display: flex;
}

.button-style {
  background: #DAA520;
  color: #FFFFFF;
  border-radius: 4px;
  border: none;
  padding: 14px 24px;
}


/* ============ 
            ABOUT US ============*/

.hey {
  display: flex;
}

hr {
  width: 30%;
}



/* ============ 
            FOOTER ============*/

.footer-section {
  background-color: #F1F1F1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}